#!/usr/bin/env bash
set -euo pipefail

use nix

watch_file nixkell.toml
watch_file package.yaml
watch_file nix/*
watch_file .envrc.private

rm -rf $(direnv_layout_dir)
mkdir -p $(direnv_layout_dir)
ln -s "$NIX_SHELL_PATH" "$(direnv_layout_dir)/shell"

if [[ -f .envrc.private ]]; then
  source .envrc.private
fi